---
---
@charset "utf-8";
@import
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_normalize',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_thumbnails',
  'coderay';


html, body {
  height: 100%;
  min-width: 320px;
  font-size: 16px;
}

.brand {
  font-family: 'Cutive', serif;
  font-size: 64px;
  margin: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 2em;
}

@media (max-width: 767px) {
  nav ul { text-align: center; }
  nav li { display: inline; }
  nav li + li:before { content: "/ "; }
  nav { margin-bottom: 20px; }
  .brand { font-size: 56px; }
}

@media (max-width: 572px) {
  .brand { font-size: 30px; }
}

@media (max-width: 320px) {
  .brand { font-size: 24px; }
  nav ul { font-size: 1.5em; }
}

h1 {
  margin: 0;
}

.posts article + article {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 2px dotted gray;
}

time {
  font-variant: small-caps;
  font-style: oblique;
}

.thumbnail.right {
  float: right;
  margin: 10px;
}
