@charset "utf-8";
@import
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_normalize',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_thumbnails',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_labels',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_pager';

html, body {
  height: 100%;
  font-size: 16px;
}

.brand {
  font-family: 'Cutive', serif;
  font-size: 64px;
  margin: 20px;
}

nav.main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 2em;
}

@media (max-width: 767px) {
  nav.main ul { text-align: center; }
  nav.main li { display: inline; }
  nav.main li + li:before { content: "/ "; }
  nav.main { margin-bottom: 20px; }
  .brand { font-size: 56px; }
}

@media (max-width: 572px) {
  .brand { font-size: 30px; }
}

@media (max-width: 320px) {
  .brand { font-size: 24px; }
  nav ul { font-size: 1.5em; }
  .keywords { font-size: 25px; }
}

.posts article + article {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 2px dotted gray;
}

article p {
  text-align: justify;
}

.content { max-width: 1024px; }
time { font-weight: bold; }
h1 { margin: 0; }
h1, h2, h3, h4, h5, h6 { word-wrap: break-word; }

.thumbnail.left {
  float: left;
  clear: left;
  margin: 10px 10px 10px 0;
}

.thumbnail.right {
  float: right;
  clear: right;
  margin: 10px 0 10px 10px;
}

.thumbnail.full {
  width: calc(100% - 20px);
  max-width: 1024px;
}

.keywords { margin: 10px 0; }
.keywords a:hover { color: white; }
