@charset "utf-8";
@import
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_normalize',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_thumbnails',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_labels',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_buttons',
  'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_pager';

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Cutive, "Times New Roman", Times, serif;

html, body {
  height: 100%;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

.navbar {
  color: white;
  background-color: #cb1921;
  padding: 10px;
  margin-bottom: 20px;
}

.navbar a { color: white; }
.navbar .btn { float: right; background: none; border-color: white; transition: all 0.1s; }
.navbar .btn:hover { background-color: white; color: black; }
.title-tagline { padding: 6px; }

.posts article + article {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 2px dotted gray;
}

article p {
  text-align: justify;
}

article > p:first-of-type::first-letter {
  float: left;
  font-size: 72px;
  font-family: $font-family-serif;
  line-height: 1em;
  margin: 8px 5px -16px 0;
}

.content { max-width: 600px; }
time { font-weight: bold; }
h1 {
  color: black;
  font-size: 64px;
  font-family: helvetica;
  letter-spacing: -3px;
  line-height: 1em;
  font-weight: 400;
  margin: 0;
}
h1 a { color: black; }
h1 a:hover { text-decoration: none; }
h1, h2, h3, h4, h5, h6 { word-wrap: break-word; }

.thumbnail.left {
  float: left;
  clear: left;
  margin: 10px 10px 10px 0;
}

.thumbnail.right {
  float: right;
  clear: right;
  margin: 10px 0 10px 10px;
}

.thumbnail.full {
  width: calc(100% - 20px);
  max-width: 1024px;
}

.keywords a:hover { color: white; }
pre { margin: 0 -30px; padding: 10px; border-left: 1px solid #999; }
.post-meta { margin: 30px 0; }

@media (max-width: 767px) {
  pre { margin: 0; font-size: 14px; }
  h1 { font-size: 50px; }
}

@media (max-width: 572px) {
  pre { padding-bottom: 10px; }
}

@media (max-width: 320px) {
  .keywords { font-size: 25px; }
}

.img-float-left {
  float: left;
  width: 200px;
  margin: 0 10px 10px 0;
}
@media (min-width: 576px) {
  .img-float-left {
    width: 300px;
  }
}
