<head>
  {% capture pageinfo %}{% if paginator and paginator.page != 1 %} / page {{ paginator.page }}{% endif %}{% endcapture %}
  {% if page.title %}
    <title>{{ page.title }}{{ pageinfo }}</title>
  {% else %}
    <title>{{ site.title }}{{ pageinfo }}</title>
  {% endif %}
  <meta charset="utf-8">
  <link rel="preload" href="{{ '/assets/cutive-v8-latin-regular.woff2' | relative_url }}" as="font" type="font/woff2">
  <style>
  @font-face {
    font-family: 'Cutive';
    font-style: normal;
    font-weight: 400;
    src: local('Cutive'), local('Cutive-Regular'),
      url('{{ '/assets/cutive-v8-latin-regular.woff2' | relative_url }}') format('woff2'),
      url('{{ '/assets/cutive-v8-latin-regular.woff' | relative_url }}') format('woff');
    }
  </style>
  <link rel="stylesheet" href="{{ "/assets/app.css" | relative_url | bust_cache }}" />
  <script type="application/javascript" src="{{ '/assets/app.js' | relative_url | bust_cache }}" async="true"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  {% if paginator and paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <link rel="prev" href="/" />
    {% else %}
      <link rel="prev" href="{{ paginator.previous_page_path }}" />
    {% endif %}
  {% endif %}
  {% if paginator and paginator.next_page %}
    <link rel="next" href="{{ paginator.next_page_path }}" />
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml" />
</head>
