<head>
  {% capture pageinfo %}{% if paginator and paginator.page != 1 %} / page {{ paginator.page }}{% endif %}{% endcapture %}
  {% if page.title %}
    <title>{{ page.title }}{{ pageinfo }}</title>
  {% else %}
    <title>{{ site.title }}{{ pageinfo }}</title>
  {% endif %}
  <meta charset="utf-8">
  {% css app.css %}
  {% js app.js async: true %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  {% if paginator and paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <link rel="prev" href="/" />
    {% else %}
      <link rel="prev" href="{{ paginator.previous_page_path }}" />
    {% endif %}
  {% endif %}
  {% if paginator and paginator.next_page %}
    <link rel="next" href="{{ paginator.next_page_path }}" />
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml" />
</head>
