---
layout: default
---
<div class="posts">
  {% for post in paginator.posts %}
    <article itemscope itemtype="http://schema.org/BlogPosting">
      {% assign post = page %}
      {% include post_header.html %}
      {{ post.excerpt }}
      <p>
        <a href="{{ post.url }}">Continue reading &raquo;</a>
      </p>
      <div style="clear:both" />
    </article>
  {% endfor %}
</div>

<nav>
  <ul class="pager">
    {% if paginator.next_page %}
      <li class="previous"><a href="{{ paginator.next_page_path }}"><span aria-hidden="true">&larr;</span> Older</a></li>
    {% else %}
      <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
    {% endif %}
    {% if paginator.previous_page == 1 %}
      <li class="next"><a href="/">Newer <span aria-hidden="true">&rarr;</span></a></li>
    {% elsif paginator.previous_page %}
      <li class="next"><a href="{{ paginator.previous_page_path }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
    {% else %}
      <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
  </ul>
</nav>
